{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'myglobal.css' %}">
<body>

<!--<p><a href='/'>HOME</a></p>-->

{% include "menu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}

{% for x in fruits %}
  <h1>{{ x }}</h1>
{% endfor %}

<p>In views.py you can see what the fruits variable looks like.</p>

{% with lastname="Tobias" %}
<h1>Hello {{ firstname }} {{ lastname }}. How are you?</h1>
{% endwith %}

<!--
<div>{{ mymembers }}</div>
<div>{{ firstnames }}</div>
<div>{{ emil_data }}</div>
<div>{{ data_2 }}</div>
-->
{% include "table_id_firstname_lastname.html" with mymembers=data_2 %}
<p></p>

<!--
<table border=1>
<tr>
<th>ID</th>
<th>Fist name</th>
</tr>
{% for member in mymembers %}
<tr>
<td>{{ member.id }}</td>
<td>{{ member.firstname }}</td>
</tr>
{% endfor %}
</table>
-->
{% include "table_id_firstname_lastname.html" with mymembers=mymembers %}
<p></p>

<ul>
  {% for member in mymembers %}
    <li>{{ member.firstname }} {{member.lastname}}</li>
  {% endfor %}
</ul>

{% if greetings %}
    <h2>Hello</h2>
{% else %}
    <h2>Bye</h2>
{% endif %}

{% include "footer.html" %}

</body>
</html>